/* css reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid red; */
}

/* end normalize code */

/** general styles for every site **/
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
}

section {
	padding: 4% 0;
}

a {
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* general styles for current site */

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 1%;
}

section.title-nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: rgba(201, 76, 76, 0.3);
}

section div.right {
	width: 65%;
	text-align: right;
}

section div.left {
	width: 30%;
	text-align: center;
}

nav a {

	display: inline-block;
    padding: 1% 0;
    border-radius: 10px;
    text-align: center;
    color: #4f4f4f;
    animation: 3s;
    background-color: #bee1e6;
    margin: 1%;
	font-weight: bolder;
	width: 100px;
}

nav a:hover {
    color: #4f4f4f;
    background-color: whitesmoke;
    animation: 3s;
}

.top {
	text-align: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;


}

.item {
	width: 200px;
	margin: 10px;
	padding: 5px;
	border: 1px solid lightgray;
}

.contact {
	text-align: center;
}

footer {
	background-color: #eae4e9;
	padding: 3%;
	width: 100%;
}

footer nav a {
	width: 250px;
}

